.tabla-propiedades{
    background-color: #FAD961;
    background-image: linear-gradient(90deg, #FAD961 0%, #F76B1C 100%);

    grid-template-areas:
        "header"
        "nav"
        "main"
        "footer"
    ;
}

header{
    grid-area: header;
    border: 2px solid black;
    padding: 10px;
}

header h1, h2{
    text-align: center;
}

nav{
    grid-area: nav;
    border: 2px solid black;
    padding: 10px;
}

nav ul{
    display: flex;
    justify-content: space-around;
    list-style: none;
}

main{
    grid-area: main;
    border: 2px solid black;
    padding: 10px;
}

main h3, td{
    text-align: center;
}

footer{
    grid-area: footer;
    border: 2px solid black;
    padding: 10px;
}